.profile {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
}
.description {
  text-align: center;
}
.description img {
  width: 100%;
  display: block;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.tag,
.location {
  font-size: 20px;
  color: grey;
  font-weight: 300;
}
.stats {
  display: flex;
  list-style: none;
  padding: 0;
}
.stats li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 33.333%;
  padding: 20px;
  background-color: rgb(158, 156, 156);
  border: 1px solid black;
}
.stats li:not(:first-child) {
  border-left: 0;
}
.statistics {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 40px;
  -webkit-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
}
.stat-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.item-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(26, 236, 226);
}
.item-stat span:not(:last-child) {
  margin-bottom: 15px;
}
.item-stat:not(:last-child) {
  margin-right: 20px;
}
.friend-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
}
.friend-list {
  list-style: none;
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.status-online {
  display: block;
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px;
}
.status-offline {
  display: block;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px;
}
.name {
  margin-left: 15px;
}
.transaction-history {
  border: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 21px 5px rgba(0, 0, 0, 0.75);
}
.transaction-history td,
.transaction-history th {
  padding: 5px;
  border: 2px solid black;
}

.transaction-history tr:not(:first-child):nth-child(odd) {
  background-color: grey;
}
.transaction-history thead {
  background-color: rgb(12, 113, 131);
}
